<!-- <h1>{{ title }} </h1> -->
<link rel="stylesheet" href="../public/stylesheets/secondary-style.css">

<nav>
    <div class="nav-wrapper light-blue">
        <a href="/" class="brand-logo">Mixr</a>

    </div>
</nav>

<section class="row hero valign-wrapper">
    <div class="col s4 right-align">
        <h2>Collaborate and manage your musical projects!</h2>
    </div>
    <form method="POST" action="/api/users" enctype="multipart/form-data" class="col s6 new_form">
        <div class="row">
            <div class="input-field col s12">
                <input name="email" id="newemail" type="text" class="validate">
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input name="username" id="newusername" type="text" class="validate">
                <label for="username">Username</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input name="password" id="newpassword" type="password" class="validate">
                <label for="password">Password</label>
            </div>
        </div>
        <div class="row valign-wrapper">
            <div class="col s4"><a data-target="modal1" class="modal-trigger">Existing User</a></div>

            <div class="col s6 offset-s4 left">
                <button class="btn waves-effect waves-light right" type="submit" name="action">Create Account
                </button>
            </div>
        </div>
    </form>

    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <form>
                <div class="input-field row">
                    <input id="username" type="text" class="validate">
                    <label for="first_name">Username</label>
                </div>
                <div class="input-field row">
                    <input id="password" type="text" class="validate">
                    <label for="last_name">Password</label>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Login</a>
        </div>
    </div>
</section>


<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>


<script src="/javascript/index.js"></script>