<nav>
    <div class="nav-wrapper black">
        <a href="/" class="tape"><img src="/assets/images/small-tape.png"></a>
        {{#if loggedIn}}
        <ul class="right">
            <li><a href="/projects">My Projects</a></li>
            <li><a href="/api/users/logout" type="click">Logout</a></li>
        </ul>
        {{/if}}
    </div>
</nav>

<section>
    <div class="container">
        <div class="row hero">
            <div class="col s12 m6">
                <h2>Collaborate and manage your musical projects!</h2>
            </div>

            <!-- Sign In Form -->
            <div class="col s12 m6 sign-in-form">
                <form method="POST" action="/api/users/login">
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="username" id="username" type="text">
                            <label for="username">Username</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="password" id="password" type="password">
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6 right">
                            <button type="submit" class="waves-effect waves btn-flat right">Login</button>
                        </div>
                        <div class="col s6 left">
                            <button class="create-btn-form modal-trigger btn-flat waves-effect waves-light left" data-target="modal1">Register
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Sign Up Modal -->
        <div id="modal1" class="modal">
            <form method="POST" action="/api/users" class="sign-up-form">
                <div class="modal-content">
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="username" id="newusername" type="text">
                            <label for="username">Username</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="password" id="newpassword" type="password">
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="email" id="newemail" type="email">
                            <label for="email">Email</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="create-btn-modal modal-close btn-flat waves-effect waves-light right" type="submit"
                        name="action">Create
                        Account
                    </button>
                </div>
            </form>
        </div>

        <!-- Error Modal -->
        {{#if error}}
        <div id="error-modal" class="modal">
            <div class="modal-content">
                <h4>Error</h4>
                <p>
                    {{ error }}
                </p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves btn-flat">Okay</a>
            </div>
        </div>
        {{/if}}
    </div>
    </div>
</section>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script src="/javascript/index.js"></script>