* {
    box-sizing: border-box;
}

a {
    cursor: pointer;
    color: black;
}

a:hover {
    color: #00FFEF !important;
}

button:hover {
    color: #00FFEF !important;
}

.btn-flat {
    color: #AAA !important;
}

/* Landing Page Styles */
img {
    padding-left: 30px !important;
    margin-top: 30px !important;
}

body {
    background-image: url("../assets/images/studio.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
}

.hero {
    margin: auto !important;
    padding-top: 150px;
}

.hero h2 {
    font-family: 'Permanent Marker', cursive;
    color: #AAA ;
}

.sign-in-form {
    border: 1px black solid;
    padding: 20px !important;
    background: rgba(102, 102, 102, 0.7);
    border-radius: 15px;
    margin: auto;
}

input:focus {
    border-bottom: 1px solid #00FFEF !important;
    box-shadow: 0 1px 0 0 #00FFEF !important;
}

label.active {
    color: #00FFEF !important;
}

.create-btn:hover {
    color: #666666;
}

/* Sign In Modal Styles */
.modal, .modal-footer {
    color: black !important;
    background-color:  #666666 !important;
}

#modal1 {
    transform: translateY(50%) scaleX(1) !important;
}

/* All Projects/Song Page Styles */
.projects, .songs {
    font-family: 'Permanent Marker', cursive;
    color: #AAA;
    padding-top: 20px;
}

.card-content, .card-action {
    background-color: #666666 !important;
    color: white !important;
}

.card-action a {
    color: #AAA !important;
}

.card-action a:hover {
    color: #00FFEF !important;
}

.delete-confirm {
    color: white !important;
}

.bottom-sheet {
    transform: translateY(-50%) scaleX(1) !important;
}

.container {
    display: flex;
    justify-content: center;
    /* center horizontally */
    align-items: center;
    /* center vertically */
}

.row {
    margin-bottom: 0px !important;
}

.row-length {
    max-width: 1800px;
}

.audio {
    width: 100%;
    object-fit: scale-down;
    margin-top: 10px;
}

/* No Project/Song Created Message Styles */
.no-create {
    color: white;
    font-size: 16px;
}

/* Add Project/Song Button Styles */
.add-btn {
    display:flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    width: 100%;
    background-color: #00FFEF !important;
}

.btn-floating i {
    color: #666;
}

@media (max-width: 1382px) {
    .hero h2 {
        margin-top: 10px;
    }
}

/* Responsiveness */
@media (max-width: 786px) {
    .hero h2 {
        font-size: 45px;
    }
}

@media (max-width: 767px) {
    .hero {
        padding-top: 150px;
    }
    .hero h2 {
        font-size: 35px;
        padding-top: 30px;
    }
    .container {
        text-align: center;
    }
    .brand-logo {
        padding-left: 0px !important;
    }
}

@media (max-width: 600px) {
    .hero {
        padding-top: 0px;
    }
    .hero h2 {
        margin-top: 30px;
    }
}