* {
    box-sizing: border-box;
}

.brand-logo {
    padding-left: 15px !important;
}

body {
    background-image: url("../assets/images/musical-note-background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
}

.hero {
    color: white;
    margin: auto !important;
    padding-top: 150px
}

.new_form {
    border: 1px black solid;
    padding: 20px !important;
    background-color: white;
    border-radius: 15px;
    margin: auto;
}

.modal {
    color: black !important;
    background-color: white;
}

#modal1 {
    transform: translateY(50%) scaleX(1) !important;
}

.bottom-sheet {
    transform: translateY(-50%) scaleX(1) !important;
}

.container {
    display: flex;
    justify-content: center;
    /* center horizontally */
    align-items: center;
    /* center vertically */
}

.add-btn {
    display:flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    width: 100%;

}

.audio {
    width: 100%;
    object-fit: scale-down;
}

.add-song-form {
    margin-top: 200px !important;
}

.row {
    margin-bottom: 0px !important;
}

.no-create {
    color: rgb(211, 177, 174);
}

@media (max-width: 767.98px) {
    .brand-logo {
   
    }
    .hero {
        padding-top: 0px;
    }
    .hero h2 {
        font-size: 10vw;
    }
    .container {
        text-align: center;
    }
    .brand-logo {
        padding-left: 0px !important;
    }
}